<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {load href="__STATIC__/public/bootstrap-combined.min.css"}
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="text-center">
                h3. 这是一套可视化布局系统.
            </h3>
            <div class="row-fluid">
                <div class="span4">
                </div>
                <div class="span4">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">邮箱</label>
                            <div class="controls">
                                <input id="inputEmail" type="text" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">密码</label>
                            <div class="controls">
                                <input id="inputPassword" type="password" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox"><input type="checkbox"/> Remember me</label>
                                <button type="submit" class="btn">登陆</button>
                                <button type="submit" class="btn">取消</button>
                                <button type="submit" class="btn">申请入驻</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span4">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>