{js href="__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js"/}
{js href="__STATIC__/admin/hui/lib/layer/2.4/layer.js"/}
{js href="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"/}
{js href="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.js"/}
{js href="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"/}
{js href="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.js"/}
{js href="__STATIC__/admin/hui/static/h-ui/js/H-ui.min.js"/}
{js href="__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"/}
{js href="__STATIC__/admin/hui/lib/laypage/1.2/laypage.js"/}
<!--{js href="__STATIC__/admin/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"/}-->
{js href="__STATIC__/admin/js/common.js"/}
{js href="__STATIC__/admin/uploadify/jquery.uploadify.min.js"/}
<!--{js href="__STATIC__/admin/uploadify/jquery.uploadify.min.js"/}-->
<!--{js href="__STATIC__/admin/js/image.js"/}-->
{js href="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"}
{js href="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"}
{js href="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"}
{js href="__STATIC__/admin/js/image.js"/}
